# **Exploración y entendimiento de datos**

# Funciones Lambda

Definir una función de Python en una línea

Una función es un objeto que puede aceptar algún tipo de entrada, posiblemente modificarla y devolver algún tipo de salida. En Python, una función lambda es una abreviatura de una línea para función. Una función lambda simple podría verse así:

`add_two = lambda my_input: my_input + 2`

En Python, puedes verificar si una cadena contiene una subcadena usando la palabra clave in. Por ejemplo, la línea:

return "I" in "Team"

Devolvería Falso, ya que no hay "I" en "Team". Sin embargo:

Devolver "I" en "I love Python" devuelve Verdadero, porque hay una "I" en "I love Python".

Sintaxis:

```
lambda my_input: <my_input modified somehow>
```


Por ejemplo, una lambda que devolvería my_input más 1 se vería así:
plus_one = lambda my_input: my_input+1

In [ ]:
plus_one = lambda my_input: my_input+1

print(plus_one(10))

## Ejemplo
1. Crear una función lambda llamada contains_a que tome una palabra de entrada y devuelva True si la entrada contiene la letra 'a'. De lo contrario, devuelve Falso. usando "in"

In [ ]:
#contains_a =
#print(contains_a("zapato"))
#print(contains_a("esfero"))
#print(contains_a("elefante"))

## Cadenas largas
Para encontrar la cantidad de caracteres en una cadena, usamos len. Este bloque de código:

Crear una función lambda llamada long_string que tome una cadena de entrada y devuelva True si la cadena tiene más de 12 caracteres. De lo contrario, devuelve Falso.

In [ ]:
long_string = lambda str: len(str) > 12

print(long_string("Nueva EPS"))
print(long_string("universidad Javeriana"))

## termina con A
Puede obtener un carácter de una cadena string_name  usando la sintaxis string_name[index], donde index es el lugar del carácter que desea obtener, comenzando en 0. El último carácter de la cadena es string_name[-1].

In [ ]:
ends_in_a = lambda str: str[-3] == "a"

print(ends_in_a("data"))
print(ends_in_a("aardvark"))

In [ ]:
even_or_odd = lambda x: "even" if x % 2 == 0 else "odd"

print(even_or_odd(10))
print(even_or_odd(5))

In [ ]:
multiple_of_three = lambda x: x % 3 == 0
print(multiple_of_three(17))
print(multiple_of_three(651))

In [ ]:
rate_movie = lambda x: "Vamos a verla" if x >= 8 else "No vale la pena"

print(rate_movie(7.9))
print(rate_movie(4))

# Cargar y guardar archivos CSV
Cuando tienes datos en un CSV, puedes cargarlos en un DataFrame en Pandas usando .read_csv():

```
pd.read_csv('mi-archivo-csv.csv')
```

También podemos guardar datos en un CSV, usando .to_csv().


```
df.to_csv('nuevo-archivo-csv.csv')
```

# Inspeccionar un dataframe

Si es un DataFrame pequeño, puede mostrarlo escribiendo print(df).

El método .head() proporciona las primeras 5 filas de un DataFrame. Si desea ver más filas, puede pasar el argumento posicional n. Por ejemplo, df.head(10) mostraría las primeras 10 filas.

El método df.info() proporciona algunas estadísticas para cada columna.

In [ ]:
import pandas as pd
#load the CSV below:
df = pd.read_csv('imdb.csv')
print(df.head())
print('\n')
print(df.info())

# Seleccionar columnas

Seleccionemos partes de esos conjuntos de datos que sean interesantes o importantes para nuestros análisis.

Hay dos sintaxis posibles para seleccionar todos los valores de una columna:
1. Seleccione la columna como si estuviera seleccionando un valor de un diccionario usando una clave. En nuestro ejemplo, escribiríamos clientes['edad'] para seleccionar las edades.
2. Si el nombre de una columna sigue todas las reglas para un nombre de variable (no comienza con un número, no contiene espacios ni caracteres especiales, etc.), entonces puede seleccionarla usando la siguiente notación: df.MiSegundaColumna. En nuestro ejemplo, escribiríamos clientes.edad.

In [ ]:
import pandas as pd

df = pd.DataFrame([
  ['January', 100, 100, 23, 100],
  ['February', 51, 45, 145, 45],
  ['March', 81, 96, 65, 96],
  ['April', 80, 80, 54, 180],
  ['May', 51, 54, 54, 154],
  ['June', 112, 109, 79, 129]],
  columns=['month', 'clinic_east',
           'clinic_north', 'clinic_south',
           'clinic_west']
)

clinic_north = df.clinic_north

print(type(clinic_north))

print(type(df))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

# Seleccionar varias columnas

Cuando tenga un DataFrame más grande, es posible que desee seleccionar solo unas pocas columnas.

Para seleccionar dos o más columnas de un DataFrame, usamos una lista de nombres de columnas.


```
new_df = pedidos[['apellido', 'correo electrónico']]
```

Nota: asegúrese de tener un conjunto doble de corchetes ([[]]), o este comando no funcionará.

## Instrucciones
1. Ahora desea comparar las visitas a las clínicas del Norte y del Sur.
Cree una variable llamada clinic_north_south que contenga SÓLO los datos de las columnas clinic_north  y clinic_south.
2. Cuando seleccionamos varias columnas, ¿obtenemos una Serie o un Marco de datos?

Después de haber creado la variable, para ver qué tipo de datos ha creado, ingrese el comando:

print(type(clinic_north_south))

In [ ]:
import pandas as pd

df = pd.DataFrame([
  ['January', 100, 100, 23, 100],
  ['February', 51, 45, 145, 45],
  ['March', 81, 96, 65, 96],
  ['April', 80, 80, 54, 180],
  ['May', 51, 54, 54, 154],
  ['June', 112, 109, 79, 129]],
  columns=['month', 'clinic_east',
           'clinic_north', 'clinic_south',
           'clinic_west']
)

# Seleccionar filas

Los DataFrames están indexados a cero, lo que significa que comenzamos con la fila 0 y contamos desde allí.

Para seleccionar una fila usamos el siguiente comando:

df.iloc[2]

## Instrucciones
1. Se está preparando para incorporar personal a la clínica para marzo de este año. Quiere saber cuántas visitas se realizaron en marzo del año pasado para ayudarle a prepararse.
Escriba un comando que produzca una serie compuesta por los datos de marzo de df de los cuatro sitios clínicos y guárdela en la variable march.

In [ ]:
import pandas as pd

df = pd.DataFrame([
  ['January', 100, 100, 23, 100],
  ['February', 51, 45, 145, 45],
  ['March', 81, 96, 65, 96],
  ['April', 80, 80, 54, 180],
  ['May', 51, 54, 54, 154],
  ['June', 112, 109, 79, 129]],
  columns=['month', 'clinic_east',
           'clinic_north', 'clinic_south',
           'clinic_west'])

# Seleccionar varias filas
También puede seleccionar varias filas de un DataFrame.

A continuación se muestran algunas formas diferentes de seleccionar varias filas:

* orders.iloc[3:7] seleccionaría todas las filas comenzando en la 3.ª fila y hasta la 7.ª fila, pero sin incluirla (es decir, la 3.ª fila, la 4.ª fila, la 5.ª fila y la 6.ª fila)

* orders.iloc[:4] seleccionaría todas las filas hasta la cuarta fila, pero sin incluirla (es decir, las filas 0, 1, 2 y 3)

*	orders.iloc[-3:] seleccionaría las filas comenzando desde la tercera hasta la última fila y hasta la fila final

## Instrucciones
1. Uno de sus médicos cree que habrá más visitas a la clínica a finales de la primavera.
Escriba un comando que produzca un DataFrame compuesto por los datos de abril, mayo y junio de df para los cuatro sitios (filas 3 a 6) y guárdelo en april_may_june.
2. Inspeccione april_may_june usando print.

In [ ]:
import pandas as pd

df = pd.DataFrame([
  ['January', 100, 100, 23, 100],
  ['February', 51, 45, 145, 45],
  ['March', 81, 96, 65, 96],
  ['April', 80, 80, 54, 180],
  ['May', 51, 54, 54, 154],
  ['June', 112, 109, 79, 129]],
  columns=['month', 'clinic_east',
           'clinic_north', 'clinic_south',
           'clinic_west']
)

# Seleccionar filas con lógica

Puede seleccionar un subconjunto de un DataFrame mediante declaraciones lógicas:


```
df[df.MyColumnName == desired_column_value]
```

Supongamos que queremos seleccionar todas las filas donde la edad del cliente es 30. Usaríamos:



```
df[df.edad == 30]
```



Podemos utilizar otras declaraciones lógicas, como por ejemplo:

* Mayor que, >: aquí seleccionamos todas las filas donde la edad del cliente es mayor que 30:
df[df.edad > 30]
* Menos que, <: aquí seleccionamos todas las filas donde la edad del cliente es inferior a 30 años:
df[df.edad < 30]
* No igual, !=: este fragmento selecciona todas las filas donde el nombre del cliente no es Clara Oswald:
df[df.nombre != 'Clara Oswald']

## Instrucciones
1. Vas a formar parte del personal de la clínica durante enero de este año. Quiere saber cuántas visitas se realizaron en enero del año pasado para ayudarle a prepararse.
Cree la variable january usando una declaración lógica que seleccione la fila de df donde la columna 'month' es 'january'.
2. Inspeccione january usando la impresión.

In [ ]:
import pandas as pd

df = pd.DataFrame([
  ['January', 100, 100, 23, 100],
  ['February', 51, 45, 145, 45],
  ['March', 81, 96, 65, 96],
  ['April', 80, 80, 54, 180],
  ['May', 51, 54, 54, 154],
  ['June', 112, 109, 79, 129]],
  columns=['month', 'clinic_east',
           'clinic_north', 'clinic_south',
           'clinic_west'])

También puede combinar varias declaraciones lógicas, siempre que cada declaración esté entre paréntesis.

Por ejemplo, supongamos que queremos seleccionar todas las filas donde la edad del cliente es menor de 30 años o el nombre del cliente es "Martha Jones":

Podríamos utilizar el siguiente código:


```

df[(df.edad < 30) |
    (df.nombre == 'Martha Jones')]
```



En Python, | significa "o" y & significa "y".

## Instrucciones
1. Quiere ver cómo cambió el número de visitas a la clínica entre marzo y abril.
Crea la variable march_april, que contiene los datos de marzo y abril. Haga esto usando dos declaraciones lógicas combinadas usando |, que significa "o".
2. Inspeccione march_april usando print.

In [ ]:
import pandas as pd

df = pd.DataFrame([
  ['January', 100, 100, 23, 100],
  ['February', 51, 45, 145, 45],
  ['March', 81, 96, 65, 96],
  ['April', 80, 80, 54, 180],
  ['May', 51, 54, 54, 154],
  ['June', 112, 109, 79, 129]],
  columns=['month', 'clinic_east',
           'clinic_north', 'clinic_south',
           'clinic_west'])

Supongamos que queremos seleccionar las filas donde el nombre del cliente es "Martha Jones", "Rose Tyler" o "Amy Pond".

Podríamos usar el comando isin para verificar que df.name sea uno de una lista de valores:



```
df[df.nombre.isin(['Martha Jones',
      'Rose Tyler',
      'Amy estanque'])]
```

## Instrucciones
1. Otro médico cree que tienes muchas visitas a la clínica a finales del invierno.
Cree la variable january_february_march, que contiene los datos de enero, febrero y marzo. Haga esto usando una única declaración lógica con el comando isin.
2. Inspeccione january_february_march usando print.

In [ ]:
import pandas as pd

df = pd.DataFrame([
  ['January', 100, 100, 23, 100],
  ['February', 51, 45, 145, 45],
  ['March', 81, 96, 65, 96],
  ['April', 80, 80, 54, 180],
  ['May', 51, 54, 54, 154],
  ['June', 112, 109, 79, 129]],
  columns=['month', 'clinic_east',
           'clinic_north', 'clinic_south',
           'clinic_west'])

# Establecer índices

Cuando seleccionamos un subconjunto de un DataFrame usando lógica, terminamos con índices no consecutivos. Esto es poco elegante y dificulta el uso de .iloc().
Podemos solucionar este problema utilizando el método .reset_index().

Si usamos el comando df.reset_index(), obtenemos un nuevo DataFrame con un nuevo conjunto de índices

El uso de .reset_index() devolverá un nuevo DataFrame, pero normalmente solo queremos modificar nuestro DataFrame existente. Si usamos la palabra clave inplace=True podemos simplemente modificar nuestro DataFrame existent

In [ ]:
import pandas as pd

df = pd.DataFrame([
  ['January', 100, 100, 23, 100],
  ['February', 51, 45, 145, 45],
  ['March', 81, 96, 65, 96],
  ['April', 80, 80, 54, 180],
  ['May', 51, 54, 54, 154],
  ['June', 112, 109, 79, 129]],
  columns=['month', 'clinic_east',
           'clinic_north', 'clinic_south',
           'clinic_west']
)

df2 = df.loc[[2,4]]

print(df2)
print('\n')

df3 = df2.reset_index()
print(df3)
print('\n')
df2.reset_index(inplace=True, drop=True)

print(df2)

## Instrucciones
1. Tenga en cuenta que df2 es un subconjunto de filas de df.
use print(df2)
Tenga en cuenta que los índices de df2 no son consecutivos.
2. Cree un nuevo DataFrame llamado df3 restableciendo los índices en df2 (no use inplace o drop). ¿Cambió df2 después de ejecutar este comando?
3. Restablezca los índices de df2 utilizando la palabra clave inplace=True y drop=True. ¿Cambiaron los índices de df2? ¿En qué se diferencia df2 de df3?

In [ ]:
import pandas as pd

df = pd.DataFrame([
  ['January', 100, 100, 23, 100],
  ['February', 51, 45, 145, 45],
  ['March', 81, 96, 65, 96],
  ['April', 80, 80, 54, 180],
  ['May', 51, 54, 54, 154],
  ['June', 112, 109, 79, 129]],
  columns=['month', 'clinic_east',
           'clinic_north', 'clinic_south',
           'clinic_west']
)

# Modificar dataframes

* Agregar columnas a un DataFrame
* Usar funciones lambda para calcular cantidades complejas
* Cambiar el nombre de las columnas

## Modificar DataFrames en Pandas

In [ ]:
import pandas as pd
df = pd.read_csv('shoe_mess.csv')
df.head(10)

print(df.shoe_type.unique())

In [ ]:
import pandas as pd

df['shoe_type'] = df.shoe_type.apply(str.lower)
df.head(10)

In [ ]:
df['in_stock'] = df.shoe_material.apply(lambda x: False if x == 'fabric' else True)

df.head(10)

In [ ]:
df['description'] = df.apply(lambda row: "{} {} bought {} {} {}"\
    .format(row.first_name,
            row.last_name,
            row.shoe_color,
            row.shoe_material,
            row.shoe_type),
    axis=1)
df.head(10)

# Agregar una columna

Una forma de agregar una nueva columna es proporcionando una lista de la misma longitud que el DataFrame existente.

![1 mas columnas.png]()



```
df['Quantity'] = [100, 150, 50, 35]
```
![2 mas columnas.png]()

In [ ]:
import pandas as pd

df = pd.DataFrame([
  [1, '3 inch screw', 0.5, 0.75],
  [2, '2 inch nail', 0.10, 0.25],
  [3, 'hammer', 3.00, 5.50],
  [4, 'screwdriver', 2.50, 3.00]
],
  columns=['Product ID', 'Description', 'Cost to Manufacture', 'Price']
)

## Instrucciones

1. adicionar una columna que indique si esos materiales se pueden vender en grandes cantidades
2. añadirlo con 'Si', 'Si', 'No', 'No', la columan debe llamarse 'Sold in Bulk?'

También podemos agregar una nueva columna que sea la misma para todas las filas del DataFrame.



```
df['In Stock?'] = True
```

In [ ]:
import pandas as pd

df = pd.DataFrame([
  [1, '3 inch screw', 0.5, 0.75],
  [2, '2 inch nail', 0.10, 0.25],
  [3, 'hammer', 3.00, 5.50],
  [4, 'screwdriver', 2.50, 3.00]
],
  columns=['Product ID', 'Description', 'Cost to Manufacture', 'Price']
)

# Adicionar una columna que indique que todos los artículos tienen impuesto
# nombrarla 'Is taxed?' con 'Si' a todos

Finalmente, puede agregar una nueva columna realizando una función en las columnas existentes



```
df['Sales Tax'] = df.Price * 0.075

```

In [ ]:
import pandas as pd

df = pd.DataFrame([
  [1, '3 inch screw', 0.5, 0.75],
  [2, '2 inch nail', 0.10, 0.25],
  [3, 'hammer', 3.00, 5.50],
  [4, 'screwdriver', 2.50, 3.00]
],
  columns=['Product ID', 'Description', 'Cost to Manufacture', 'Price']
)

# Adicionar una columna que calcule el margen o utilidad, es decir precio - costo de manufactura
# llamar a la columna 'Margin'

# Realizar operaciones con columnas

A menudo, la columna que queremos agregar está relacionada con columnas existentes, pero requiere un cálculo más complejo que la multiplicación o la suma.

In [ ]:
import pandas as pd

df = pd.DataFrame([
  ['JOHN SMITH', 'john.smith@gmail.com'],
  ['Jane Doe', 'jdoe@yahoo.com'],
  ['joe schmo', 'joeschmo@hotmail.com']
],
columns=['Name', 'Email'])

# Add columns here
#df['Lowercase Name'] = df.Name.apply(str.lower)
print(df)

In [ ]:
mylambda = lambda x: (x * 2) + 3
print(mylambda(5))

13

In [ ]:
stringlambda = lambda x: x.lower()
print(stringlambda("Oh Hi Mark!"))

oh hi mark!

## Instrucciones

In [ ]:
#Cree una función lambda mylambda que devuelva la primera y la última letra de una cadena,
#asumiendo que la cadena tiene al menos 2 caracteres de longitud.

# cree acá su función y pruebela con la palabra 'Hello World'

# Función Lambda: declaraciones If
Podemos hacer que nuestras lambdas sean más complejas usando una forma modificada de una declaración if.

Supongamos que queremos pagar a los trabajadores tiempo y medio por las horas extras (cualquier trabajo superior a 40 horas semanales). La siguiente función convertirá la cantidad de horas en horas y media usando una declaración if:



```
def myfunction(x):
    if x > 40:
        return 40 + (x - 40) * 1.50
    else:
        return x

```



```
myfunction = lambda x: 40 + (x - 40) * 1.50 if x > 40 else x
```

lambda x: [OUTCOME IF TRUE] if [CONDITIONAL] else [OUTCOME IF FALSE]

## Instrucciones

In [ ]:
#Estás administrando la página web de un videojuego algo violento
#quieres comprobar que la edad de cada usuario sea 13 o más cuando visita el sitio.
#Escriba una función lambda que tome una edad ingresada y devuelva
#¡Bienvenido a BattleCity! si el usuario tiene 13 años o más o usted debe tener 13 años o más si tiene menos de 13 años.
#Su función lambda debe llamarse mylambda.

# Escriba acá la función, imprima el resultado haciendo pruebas con valores de 12, 10 y 15

# Aplicar una Lambda a una columna
En Pandas, solemos utilizar funciones lambda para realizar operaciones complejas en columnas. Por ejemplo, supongamos que queremos crear una columna que contenga el proveedor de correo electrónico para cada dirección de correo electrónico en la siguiente tabla:

![3 tabla.png]()



```
df['Email Provider'] = df.Email.apply(
    lambda x: x.split('@')[-1]
    )

```


![4 tabla.png]()

## Instrucciones
1. Cree una función lambda get_last_name que tome una cadena con el nombre y apellido de alguien (es decir, John Smith) y devuelva solo el apellido (es decir, Smith).
2. El DataFrame df representa las horas trabajadas por diferentes empleados en el transcurso de la semana. Contiene las siguientes columnas:
* 'name': el nombre del empleado
* 'hourly_wage': el salario por hora del empleado
* 'hours_worked': el número de horas trabajadas esta semana

Utilice la función lambda get_last_name para crear una nueva columna last_name con solo el apellido de los empleados.

In [ ]:
import pandas as pd

df = pd.read_csv('empleados.csv')
print(df.head())

# Add columns here

# Aplicar una Lambda a una fila

También podemos operar en varias columnas a la vez. Si usamos apply sin especificar una sola columna y agregamos el argumento axis=1, la entrada a nuestra función lambda será una fila completa, no una columna. Para acceder a valores particulares de la fila, usamos la sintaxis row.column_name  o row['column_name’'].

![5 tabla.png]()

Si queremos agregar el precio con impuestos para cada línea, necesitaremos mirar dos columnas: Price y Is taxed?.

¿Si está gravado? es Sí, entonces multiplicaremos el precio por 1,075 (para un impuesto sobre las ventas del 7,5%).

¿Si está gravado? es No, simplemente tendremos Precio sin multiplicarlo.

Podemos crear esta columna usando una función lambda y la palabra clave axis=1:



```
df['Price with Tax'] = df.apply(lambda row:
     row['Price'] * 1.075
     if row['Is taxed?'] == 'Yes'
     else row['Price'],
     axis=1
)

```

## Instrucciones
1. Si un empleado trabajó más de 40 horas, se le deben pagar horas extras (1,5 veces el salario por hora normal).
Por ejemplo, si un empleado trabajó 43 horas y ganó $10 por hora, recibiría $400 por las primeras 40 horas que trabajó y $45 adicionales por las 3 horas extra, para un total de $445.
Cree una función lambda total_earned que acepte una fila de entrada con las claves hours_worked y hourly_wage y utilice una declaración if para calcular los salarios totales ganados.
2. Utilice la función lambda total_earned y aplique para agregar una columna total_earned a df con el monto total ganado por cada empleado.

In [ ]:
import pandas as pd

df = pd.read_csv('empleados.csv')

# ingrese acá su código


print(df)

# Cambiar el nombre de las columnas

Cuando obtenemos nuestros datos de otras fuentes, a menudo queremos cambiar los nombres de las columnas. Por ejemplo, es posible que deseemos que todos los nombres de las columnas sigan las reglas de nombres de variables, de modo que podamos usar df.column_name (que completa con tabulaciones) en lugar de df['column_name'] (que ocupa espacio adicional).

Puede cambiar todos los nombres de las columnas a la vez configurando la propiedad .columns en una lista diferente.

Puede etiquetar mal las columnas fácilmente si se equivoca en el orden. He aquí un ejemplo:



```
df = pd.DataFrame({
    'name': ['John', 'Jane', 'Sue', 'Fred'],
    'age': [23, 29, 21, 18]
})
df.columns = ['First Name', 'Age']

```

## Instrucciones
1. El DataFrame df contiene datos sobre películas de IMDb.
Queremos presentar estos datos a algunos productores de cine. En este momento, los nombres de nuestras columnas están en minúsculas y no son muy descriptivos. Modifiquemos df usando el atributo .columns para realizar los siguientes cambios en las columnas:

![6 tabla.png]()

In [ ]:
import pandas as pd

df = pd.read_csv('imdb.csv')

# Rename columns here

También puede cambiar el nombre de columnas individuales utilizando el método .rename. Pase un diccionario como el siguiente al argumento de palabra clave de columnas:

{'nombre_columna_antigua1': 'nombre_columna_nueva1', 'nombre_columna_antigua2': 'nombre_columna_nueva2'}



```
df = pd.DataFrame({
    'name': ['John', 'Jane', 'Sue', 'Fred'],
    'age': [23, 29, 21, 18]
})

df.rename(columns={
    'name': 'First Name',
    'age': 'Age'},
    inplace=True)

```

El código anterior cambia name a First name y la age a Age.

Usar renname solo con la palabra clave de las columnas creará un nuevo DataFrame, dejando su DataFrame original sin cambios. Es por eso que también pasamos el argumento de palabra clave inplace=True. Usar inplace=True nos permite editar el DataFrame original.

Hay varias razones por las que .rename es preferible a .columns:

* Puedes cambiar el nombre de solo una columna
* Puede ser específico sobre qué nombres de columnas se cambian (con .column puede cambiar accidentalmente los nombres de las columnas si no tiene cuidado)

Nota: Si escribe mal uno de los nombres de las columnas originales, este comando no fallará. Simplemente no cambiará nada.

## Instrucciones
1. Si no supiéramos que df es una tabla de clasificaciones de películas, el name de la columna podría resultar confuso.

Para aclarar, cambiemos el nombre a movie_title.
Utilice la palabra clave inplace=True para modificar df en lugar de crear un nuevo DataFrame.

In [ ]:
import pandas as pd

df = pd.read_csv('imdb.csv')

# Rename columns here

print(df)

# **Trabajo**

Usted es el analista de datos principal de una cadena de tiendas de jardinería llamada Petal Power.

Debe realizar:

**Responder correos electrónicos de clientes**
1. Los datos de todas las ubicaciones de Petal Power se encuentran en el archivo inventario.csv. Cargue los datos en un DataFrame llamado inventario.
2. Inspeccione las primeras 10 filas de inventario.
3. Las primeras 10 filas representan datos de su ubicación en Staten Island. Seleccione estas filas y guárdelas en staten_island.
4. Un cliente acaba de enviarle un correo electrónico preguntándole qué productos se venden en su ubicación de Staten Island. Seleccione la columna product_description de staten_island y guárdela en la variable product_request.
5. Otro cliente envía un correo electrónico para preguntar qué tipos de semillas se venden en la tienda de Brooklyn.
Seleccione todas las filas donde la ubicación sea igual a Brooklyn y el tipo de producto sea igual a las semillas y guárdelas en la variable seed_request.

**Inventario**
6. Agregue una columna al inventario llamada in_stock que sea Verdadera si la cantidad es mayor que 0 y Falso si la cantidad es igual a 0.
7. Petal Power quiere saber qué tan valioso es su inventario actual.
Cree una columna llamada valor_total que sea igual al precio multiplicado por la cantidad.
8. El departamento de Marketing quiere una descripción completa de cada producto de su catálogo.

La siguiente función lambda combina tipo_producto y descripción_producto en una sola cadena:


```
combine_lambda = fila lambda: \
     '{} - {}'.formato(fila.tipo_producto,
                      fila.descripción_producto)
```


Pegue esta función.
9. Usando combine_lambda, cree una nueva columna en el inventario llamada full_description que tenga la descripción completa de cada producto.

In [ ]:
import pandas as pd